
/* *{
    outline: 1px solid;
} */
.bridge{
height: 120vh;
background-color: #F5F5F5;
position: relative;
/* background-image: url(../imgs/homebanner.jpg); */


}


.bridgetex {
    /* 默認樣式 */
    opacity: 0;
    font-size:150px;
    position: absolute;
    top:0;
    text-align: center;
}

.class5 {
    /* 5% 滾動位置的特效 */
    font-size:150px;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    /* background-image: url(../imgs/homebanner.jpg); */
    background-size: contain;
    height: 100vh;
    background-position: 80%;
    position: fixed;
    top:15%;
    left: 10%;
    text-align: center;
}

.class8 {
    /* 10% 滾動位置的特效 */
    font-size:150px;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    background-image: url(../imgs/homebanner.jpg);
    background-size: contain;
    height: 100vh;
    background-position: 80%;
    position: fixed;
    top:20%;
    left: 10%;
    text-align: center;
}

.waves{
    height:300px;
    width: 100%;
    background-color: #fff;
    display: flex;
    
}
.wavesdot{
    height:100px;
    width: 100px;
    border-radius: 77% 23% 62% 38% / 43% 65% 35% 57%;
    background-color: #ac7355;
    filter: drop-shadow(0px 8px 4px rgba(174, 29, 116, .1));
    animation: oxxo 5s linear 2s infinite alternate;
}

@keyframes oxxo{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(180deg);
    }
}
