
.home{
    /* height: 400vh; */
    /* overflow: hidden; */
}
/* *{
    outline: 1px solid black;
} */
.secs{
    position: relative;
}
.bannerwords{
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;

}
.homesec{
    overflow: hidden;
}
.homebannerSec{
    height: 100vh;
    position: relative;

}
.homebanner{
    height: 100vh;
}
.homebanner img{
    width: 99.9%;
    height: 100%;
}


.homebannerSec{
    background-image: url('../imgs//homebanner.jpg');
    background-size: 100%;
    background-position: 0 -150px; 
    background-repeat: no-repeat;
    
    height: 103vh;
    width: 100vw;
    z-index: 2;
    position: relative;
    mix-blend-mode: screen ;
 
}
.bgvideo{
    width: 110vw;

    z-index: 1;
    opacity: 0.8;
    position: absolute;
    top:0px;
    left: 0;

}



.bannerTitle{
    /* //讓文字直式的屬性 */
    -webkit-writing-mode: vertical-lr;
    color: rgb(170, 92, 1);
    font-weight: bold;
    font-size: larger;
    margin-left: 10%;
    padding-top: 10%;
}

.walkersTextSec{
    position: relative;
    height: 130px;
    right: 0vw;

}
.walkersTitle{
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 42px;
    color: rgb(94, 67, 50);
}
.walkersSubText{
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: rgb(94, 67, 50);
    display: flex;
}
.walkersLine{
    position: absolute;
    bottom: 10px;
    right: 150px;
    width: 70px;
    border-top: 1px solid  rgb(94, 67, 50);
}
.walkersText{
    outline:1px solid  rgb(94, 67, 50);
    padding: 5px;

}
.walkers{
    position: absolute;
    right: 0vw;
    top: 70vh;
    height: 200px;
    overflow: hidden;
}
.walkers img{
    height: 100%;
}
.homebannerwalkerMask{
    height: 100vh;
    position: relative;
    /* -webkit-mask: url(../imgs/bannerwalkermask.png) center center/cover no-repeat; */

}
.homebannerwalkerinner{
    background-color: antiquewhite;
    width: 300px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom:430px;
    border-radius: 74% 50% 100% 0% / 70% 100% 0% 60% ;

}

.classshow0{
    opacity: 0;
    position: fixed;
    top: -130px; /* 隱藏在畫面之外 */
    transition: top 1s ease-in-out, opacity 1s ease-out;
    z-index: 0;
    width: 100%;
}
.classshowup{
    opacity: 1;
    position: fixed;
    top: 0; /* 從上方滑入 */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 30;
    width: 100%;
    background: rgb(139,112,93);
    background: linear-gradient(90deg, rgba(139,112,93,1) 0%, rgba(181,151,123,1) 50%, rgba(99,77,64,1) 100%);
    color:#fff;
    box-shadow: 0px 4px 4px rgba(174, 29, 116, 0.1);
}

.classshowup p{
    color:#fff;
}

.classshowup span{
    color:#fff;
}

.classshowup6{
    opacity: 1;
    position: fixed;
    top: 0; /* 從上方滑入 */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 30;
    width: 100%;
    background: #ffeaec;
    color: #ae1d74;
    box-shadow: 0px 4px 4px rgba(174, 29, 116, 0.1);
}
.classshowup7{
    opacity: 1;
    position: fixed;
    top: 0; /* 從上方滑入 */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 30;
    width: 100%;

    background-color: rgb(170, 92, 1);
    color: #ae1d74;
    box-shadow: 0px 4px 4px rgba(174, 29, 116, 0.1);
}
.classshowup13{
    opacity: 1;
    position: fixed;
    top: 0; /* 從上方滑入 */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 30;
    width: 100%;
    background: #ac7355;
    box-shadow: 0px 4px 4px rgba(174, 29, 116, 0.1);

}

.classshowup13 p{
    color:#fff;
}

.classshowup13 span{
    color:#fff;
}
*{
    outline: 0px solid;
}
@media (max-width: 767px) { 

    .bannerTitle {
        font-weight: 500;
        font-size: 12px;
        padding-top: 0%;
        margin: 0;
        padding-left: 10%;
    }

        

    .walkersTextSec{
        height: 0px;

    }

    .walkers{
        top: 25vh;
        height: 100px;
    }
    .homebannerwalkerMask{
        bottom:0%;
        width: 300px;
        height: 100px;
    }

    .walkersTitle {
        font-size: 20px;
        bottom: -130px;
    }

    .homebannerSec {
      
        background-size: 100vh;
        height: 50vh;
    
    }

   

 }