
.home{
    /* height: 400vh; */
    /* overflow: hidden; */
}
.homebannerSec{
    height: 100vh;
    position: relative;
}
.homebanner{
    height: 100vh;
}
.homebanner img{
    width: 99.9%;
    height: 100%;
}
.homebannerSec{
    background-image: url('../imgs//homebanner.jpg');
    background-size: 100%;
    height: 100vh;
    background-position: 0 -100px; 
    background-repeat: no-repeat;
}
.bannerTitle{
    /* //讓文字直式的屬性 */
    -webkit-writing-mode: vertical-lr;
    color: white;
    font-weight: 500;
    font-size: larger;
    margin-left: 10%;
    padding-top: 10%;
}

.walkersTextSec{
    position: relative;
    height: 280px;

}
.walkersTitle{
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 42px;
    color: rgb(94, 67, 50);
}
.walkersSubText{
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: rgb(94, 67, 50);
    display: flex;
}
.walkersLine{
    position: absolute;
    bottom: 10px;
    right: 150px;
    width: 70px;
    border-top: 1px solid  rgb(94, 67, 50);
}
.walkersText{
    outline:1px solid  rgb(94, 67, 50);
    padding: 5px;

}
.walkers{
    position: absolute;
    right: 0px;
    height: 40vh;
    top: 51vh;
    height: 230px;
    overflow: hidden;
}
.walkers img{
    height: 100%;
}
.homebannerwalkerMask{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: antiquewhite;
    width: 500px;
    height: 240px;
    /* border-radius: 74% 26% 100% 0% / 54% 100% 0% 46% ; */
    -webkit-mask: url(../imgs/bannerwalkermask.png) center center/cover no-repeat;

}

