
.nav{
    width: 100%;
    position: relative;
    z-index: 33;
    
}

.navList{
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 33;
}
.navLink{
  display: flex;
  z-index: 33;
  
}
.navLink a{
  text-decoration: none ;
  color: rgb(94, 67, 50);
  z-index: 33;

}

.navArrorLeft{
  margin: 1.5rem 10px;
  opacity: 0;
  transition:  opacity .5s ease-in;
}
.navListItem{
    margin-top: 1.5rem;
    cursor:pointer;
}
.navLink :hover + .navArrorLeft{
  opacity: 1;
}
.heart_shape{
    position: relative;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(250,184,66, 1);
  }
  .heart_shape:before,
  .heart_shape:after{
    position: absolute;
    width: 10px;
    height: 10px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(250,184,66, 1);
  }
  .heart_shape:before{
    bottom: 0px;
    left: -5px;
  }
  .heart_shape:after{
    top: -5px;
    right: 0px;
  }
  .navCart{
    position: relative;
  }
  .homelogo{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -15px;
    left: 45%;
    transition: all .5s ease-in-out;
    z-index: 5;
  }
  .homelogo:hover{
    transform: scale(1.2);
  }
  .homeimg{
    width: 100%;
  }

  @media (max-width: 767px){

    .navArrorLeft {
      margin: 0px;
  }

  }



