
.ProductListSec{
    margin-bottom: 3rem;
}
.bannerSec{
    width: 1000px;
    margin: 3rem auto 3rem auto;
}
.bannerimg{
    width: 100%;
}
/* .ProducFlex{
    display: flex;
    justify-content: center;
} */
.ProducDetail{
    width: 100%;
    text-align: center;
}

.ProductimgSec{
    width: 100px;
    height: 100px;
    margin: auto;
}
.Productimg{
    width: 100%;
    width: 100px;
}
.addtoCart{
    border: 1px solid #414666;
    background-color:#fff;
    color:#414666;


    padding: 3px 10px;
}
.addtoCart:hover{
    background-color:#414666;
    color:#fff;
    transform: scale(1.2);
    transition: .5s;
}

.paginationsec{
    text-align: center;
    margin-top: 1rem;
}



