.scroll{
    overflow: hidden;
}
.slide{
    animation: slide 10s linear infinite;
    display: flex;

}

.scrollword{
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 32px;
    color: #edd3a3;
    }




@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
