
.words{
    height: 100vh;
    background-color: #ffeaec;
    font-size: 32px;
    padding:5rem;
}

.iconsec{
    width: 150px;
    height: 150px;
}

.iconsec img{
    width: 100%;
}

.iconsecbottom{
    overflow: hidden;
    height: 500px;
    width: 500px;
    opacity: 0.5;
    position: relative;
    left:60vw;
}

.iconsecbottom img{
    width: 100%;
}
.wordtextsec{
    padding:5rem;
}

.wordtext{
    color: #ae1d74;
    font-weight: 600;
    
    opacity: 0.1;
}

@media (max-width: 767px){

    .iconsec {
        width: 20vw;
        height: 20vw;
    }
    
    .wordtextsec {
        padding: 0rem;
    }
    
    .wordtext {
    
        font-size: 12px;
    }
    .wordtextsec{
        padding:0;
    }

    .iconsecbottom {
        overflow: hidden;
        height: 50vw;
        width: 50vw;
        opacity: 0.5;
        position: relative;
        left: 30vw;
    }

    .words {
        padding: 3rem;
        height: 70vh;
    }

}

